<html>
    <body>
        <header>
            <h1>Post It!</h1>
        </header>
        <main>@RenderBody()</main>
        <footer>
            <small>2023 ZVDCM</p>
        </footer>
    </body>
</html>

