@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(.pi) {
    font-family: var(--font-family);
}

html,
body {
    height: 100dvh;
    background-color: var(--surface-ground);
}

.p-checkbox-label {
    margin-left: 0 !important;
    padding-left: 0.5rem;
}