@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(.pi) {
    font-family: var(--font-family);
}

html,
body {
    height: 100dvh;
    background-color: var(--surface-color);
}